html, body{
    height:100%;
    margin:0;
}
*{
    box-sizing:border-box;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a.logo{
    float:left;
    font-size: 1.1em;
    font-weight: bold;
}
#logo{
    /*background-color: rgb(133, 52, 153);*/
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #20196d), color-stop(100%, #3033a1));
    background-image: -webkit-linear-gradient(#20196d, #3033a1);
    background-image: -moz-linear-gradient(#20196d, #3033a1);
    background-image: -o-linear-gradient(#20196d, #3033a1);
    background-image: linear-gradient(#20196d, #3033a1);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    margin-bottom: 14px;
    padding: 10px;
}
#logo:after,
menu:after{
    clear:both;
    content: "";
    display:block;
}
#logo a{
    color: white;
    font-family: Arial, Helvetica;
    line-height: 1.1em;
}
main{
    margin:10px;
}
menu{
    display: inline-block;
    float: right;
    margin:auto;
    padding:0;
}
menu li{
    display:inline-block;
    font-size: 0.8em;
    margin-right: 20px;
}