{% load staticfiles %}
<!DOCTYPE html><!-- TODO resolve the issue above -->
<html>
<head>
    <title>Nupic Web Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/default.css' %}" />
     </style>
</head>
<body>
<div id="logo">
    <a href="/" class="logo">Nupic WebApp</a>
    <menu class="menu">
        <li><a href="/helloworld">Hello, World!</a></li>
        <li><a href="/helloworld/test">Tests</a></li>
    </menu>
</div>
    <main>
    {{ content }}
    {{ html|safe }}
    </main>
</body>
</html>